{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Tasks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
{% block templates %}
<div class="container">
  <h2>All Tasks Table</h2>

  <table class="table">
    <thead>
      <tr>
          <th>Task Name</th>
          <th>Task Deadline Date</th>
          <th>Task Status</th>
          <th>User Name</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      {% if task.deadline_date <= today and task.status == "1" %}
      <tr>
          <th bgcolor="red">{{ task.name }}</th>
          <th>{{ task.deadline_date }}</th>
          <th>{{ task.status }}</th>
          <th>{{ task.user }}</th>
          <th><input type="button" value="Szczegóły taska" onclick="location.href='/task_detail/{{ task.id }}'"></th>
      </tr>
      {% else %}
      <tr>
          <th bgcolor>{{ task.name }}</th>
          <th>{{ task.deadline_date }}</th>
          <th>{{ task.status }}</th>
          <th>{{ task.user }}</th>
          <th><input type="button" value="Szczegóły taska" onclick="location.href='/task_detail/{{ task.id }}'"></th>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
</body>
</html>