{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Tasks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
{% block templates %}
<div class="container">
  <h2>Detailed Tasks Table</h2>

    {% csrf_token %}


  <table class="table">
    <thead>
      <tr>
          <th class="text-center">Task Name</th>
          <th class="text-center">Task Deadline Date</th>
          <th class="text-center">Task Status</th>
          <th class="text-center">User Name</th>
          <th class="text-center">Description</th>
      </tr>
    </thead>
    <tbody>

      <tr>
          <th class="text-center">{{ task.name }}</th>
          <th class="text-center">{{ task.deadline_date }}</th>
          <th class="text-center">{{ task.get_status_display }}</th>
          <th class="text-center">{{ task.user }}</th>
          <th class="text-center">{{ task.description }}</th>

      </tr>

    </tbody>
  </table>
</div>
{% endblock %}
</body>
</html>